<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileedu33.tutorme">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TutorMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.AssignmentsActivity"></activity>
        <activity android:name=".ui.fragments.CreateAssignmentFragment" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.Common.AllSubjects" />
        <activity
            android:name=".ui.activities.Common.DashboardActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".ui.activities.Common.OnBoardingActivity" />
        <activity android:name=".ui.activities.Tutor.TutorRegisterActivity" />
        <activity android:name=".ui.activities.Tutor.TutorLoginActivity" />
        <activity android:name=".ui.activities.Student.StudentRegisterActivity" />
        <activity android:name=".ui.activities.Tutor.TutorSignUpActivity" />
        <activity android:name=".ui.activities.Student.LoginActivity2" />
        <activity android:name=".ui.activities.Student.StudentSignUpActivity" />
        <activity android:name=".ui.activities.Common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>